/* Estilos resposive */

@media (max-width: 768px) {

    .s1 {
        flex-direction: column;

        h1{
            text-align: center;
        }
    
        img{
            width: 90%;
        }
    }

    .galeria {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .s2 {
        img {
            width: 90%;
            margin: 0px 0px 20px 0px;
        }

        .laequinoterapia {
            width: 90%; 
        }
    }
    
    .s3 {
        width: 90%;

        img {
            width: 90%;
        }
    }

    .s4 {    
        flex-direction: column;
        align-items: center;

        div {
            margin-bottom: 40px;
            width: 90%; 
         }
     }

    .carrusel {
        width: 90%;

        h2 {
            font-size: 21px;
        }
    }

    .formulario {
        width: 90%;
        margin: 0 auto;
    }

}