
.fondo-amarillo{
    background-color: yellow !important;
}


.s1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: aliceblue;
    padding: 40px;
}

.s1 h1{
    width: 100%;
}
.s1 .titulo3{
    width: 70%;
}
.s1 img{
    width: 30%;
    border-radius: 50% 0% 50% 0%;
    padding: 0 0 0 40px;
}

.s2  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center; 
    text-align: center;  
    padding: 40px;
    
}

.s2 h2{
    width: 100%;
}

.galeria  {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin: 40px 0px;
    
}


.s2 img {
    width: 20%;
    margin: 0px 20px;
    

}

.s2 p{
    width: 40%;
    text-align: center
    
    
}

.s3 {
    background-color: rgb(100, 84, 126);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 0px;
    margin: 50px auto;
    width: 70%;
}
.s3 h2 {
    width: 100%;
    text-align: center;  
    
}
.s3 img {
  width: 20%;
  height: fit-content;
  margin: 10px; 
}

.s3 p {
    width: 60%;
    margin: 10px;

}

.s4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.s4 div {
    background-color: rgb(243, 240, 160);
    padding: 10px;
    width: 20%; 
  
}
.s4 img{
    width: 100%;
}

.s4 img:hover{
    opacity: 0.5;
}

.s4 a {
    color:indianred;
    font-size: 21px;
    text-decoration: none;
}

.s4 a:hover {
    color:black;;
}

.footer {
    background-color: rgb(249, 245, 36);
    padding: 20px;
    margin: 40px 0px 0px 0px;
}

@media (max-width: 768px) {
    .s1{
        flex-direction: column;
    }
    .s1 h1{
        text-align: center;
    }

    .s1 img{
        width: 60%;
    }

    .galeria  {
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .s2 img {
        width: 80%;
        margin: 0px 0px 20px 0px;
        
    
    }
    .s2 .laequinoterapia {
        width: 80%; 
    }
    .s3 {
        width: 90%;
    }

    .s3 img {
        width: 70%;
       
      }

      .s4{
        
    flex-direction: column;
    align-items: center;

     }
     .s4 div{
      
    margin-bottom: 40px;
    width: 80%; 

     }



    
  }


 